.events{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events-body{
  max-width: 1080px;
  min-width: 480px;
}

.events-container{
  display: flex;
  margin-top: 40px;

}

.event{
  margin-bottom: 40px;
}

